<a href="https://colab.research.google.com/github/RajiRai/Python/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Task 1 Q2
l=list(range(2000,3200))
m=[]
for i in l:
  if i % 7 == 0 and i % 5 != 0:
    m.append(i)
print (m)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [0]:
# Q3
print ("enter your first and last name \n")
name = input()
revname = name[::-1]
print(revname)

enter your first and last name

raji rai

'iar ijar'

In [0]:
# Q4
Dia = 12
r=Dia/2
volume = (4/3)*(22/7)*(r**3)

print ("volume of the sphere is \n", round(volume,2),"cubic meter")

volume of the sphere is
 905.14 cubic meter

In [0]:
# Task 2 Q1
print ("enter comma seperated values \n")
li= input()
m=[]
for i in li:
  if i != ',':
    m.append(int(i))

print (m)

enter comma seperated values

1,2,3,4,5,6
[1, 2, 3, 4, 5, 6]

In [0]:
#Q2

for i in range (1):
  print (' .\n','..\n','...\n','....\n','.....')
for j in range (1):
  print (' ....\n','...\n','..\n','.')

 .
 ..
 ...
 ....
 .....
 ....
 ...
 ..
 .

In [0]:
#Q3
print ("enter a word \n")
w=input()
rw=w[::-1]
print(rw)

enter a word

doggy
yggod

In [0]:

print ("WE, THE PEOPLE OF INDIA,\n","\t having solemnly resolved to constitute India into a SOVEREIGN,!\n","\t \t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n", "\t \t and to secure to all its citizens.")

WE, THE PEOPLE OF INDIA,
 	 having solemnly resolved to constitute India into a SOVEREIGN,!
 	 	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 	 	 and to secure to all its citizens.